{% extends 'home/index.html' %}
{% block content %}
    <table class="table">
    {% for item in date %}
        <div class="post" style=" padding: 50px 0px;">
            <p class="date" id="date">
                {{ item.published_date |date:"Y.m.d"}}
            </p>
            <h2>{{ item.title }}</h2>
            <p>{{ item.text|linebreaksbr }}</p>
            
        </div>
    {% endfor %}

    
    <a id ="link" href="{{request.META.HTTP_REFERER}}">戻る</a>

       
    
    </table>

{% endblock %}