{% extends 'home/index.html' %}
{% block content %}
    <table class="table">
    {% for item in date %}
        <div class="post">
            <div class="date">
                {{ item.published_date }}
            </div>
            <h2>{{ item.title }}</h2>
            <p>{{ item.text|linebreaksbr }}</p>
            
        </div>
    {% endfor %}

    <ul class="pagination">
        {% if date.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'blog' %}">
                &laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link" 
            href="{% url 'blog' %}{{date.previous_page_number}}">
                &laquo; prev</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" >
                &laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link" >
                &laquo; prev</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link">
            {{ date.number}}/{{ date.paginator.num_pages}}</a>
        </li>
        {% if date.has_next %}
        <li class="page-item">
            <a class="page-link" 
            href="{% url 'blog'  %}{{date.next_page_number}}">
                next &raquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" 
            href="{% url 'blog' %}{{date.paginator.num_pages}}">
                last &raquo;</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" >
                next &raquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" >
                last &raquo;</a>
        </li>
        {% endif %}
    </ul>

       
    
    </table>

{% endblock %}